<div id="<%= dom_id place %>">
  <p>
    <strong>Name:</strong>
    <%= place.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= place.category %>
  </p>

  <p>
    <strong>City:</strong>
    <%= place.city %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= place.zip_code %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= place.address %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= place.description %>
  </p>

  <p>
    <strong>Rarity:</strong>
    <%= place.rarity %>
  </p>

</div>
